{% extends "base.html" %} {% load humanize %} {% load custom_humanize %} {% block title %}

<div class="title">
    <div class="overlay mt-5 p-3">
        <h1 data-country="{{company.securities_exchange.country.slug}}" data-bourse="{{company.securities_exchange.slug}}" data-ticker="{{company.ticker_symbol}}">{{company.name}}</h1>
    </div>
</div>
{% endblock title %} {% block content %}
<!-- <div class="container text-center pt-5">
    <h1 class="mt-5" data-country="{{company.securities_exchange.country.slug}}" data-bourse="{{company.securities_exchange.slug}}" data-ticker="{{company.ticker_symbol}}">{{company.name}}</h1>
</div> -->
<div class="row justify-content-center py-4 text-center mb-4">
    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2 mb-4">
        <div class="card border-0 shadow company-metrics-card">
            <div class="card-body" data-price>
                <p class="card-text">Price</p>
                <span class="card-text fs-6">Kes</span>
                <span class="card-text fs-4">{{company.latest_price}}</span>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2 mb-4">
        <div class="card border-0 shadow company-metrics-card">
            <div class="card-body" data-price>
                <p class="card-text">Change</p>
                <span class="card-text fs-4">{{company.price_change.0}}</span>
                <span class="card-text fs-4">({{company.price_change.1}}&#37;)</span>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2 mb-4">
        <div class="card border-0 shadow company-metrics-card">
            <div class="card-body" data-market-cap>
                <p class="card-text">Market Cap</p>
                <span class="card-text fs-6">Kes</span>
                <span class="card-text fs-4">{{company.market_cap | shortintword}}</span>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2 mb-4">
        <div class="card border-0 shadow company-metrics-card">
            <div class="card-body">
                <p class="card-text">Volume</p>
                <span class="card-text fs-4">{{company.latest_trading_volume |  shortintword | intcomma}}</span>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2 mb-4">
        <div class="card border-0 shadow company-metrics-card">
            <div class="card-body">
                <p class="card-text">Day Range</p>
                <span class="card-text fs-4">{{company.day_range.0}} - {{company.day_range.1}}</span>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2 mb-4">
        <div class="card border-0 shadow company-metrics-card">
            <div class="card-body">
                <p class="card-text">52 Week Range</p>
                <span class="card-text fs-4">{{company.year_range.0}} - {{company.year_range.1}}</span>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center mx-1 mb-3">
    <div class="col-xs-12 col-md-8 price-graph shadow-lg p-5">
        <canvas id="myChart" width="800" height="400"></canvas>
    </div>
</div>
<div class="row justify-content-center my-5">
    <div class="col-xs-12 col-sm-6 col-md-4 company-annual-metrics shadow">
        <table class="table table-borderless">
            <tbody>
                <tr>
                    <td>Earning per Share</td>
                    <td>--</td>
                </tr>
                <tr>
                    <td>Outstanding Shares</td>
                    <td>--</td>
                </tr>
                <tr>
                    <td>Price Earning Ratio</td>
                    <td>--</td>
                </tr>
                <tr>
                    <td>Dividend</td>
                    <td>--</td>
                </tr>
                <tr>
                    <td>Dividend Yield</td>
                    <td>--</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock content %} {% block custom_scripts %}
<script>
    $(document).ready(function() {
        let ticker = $("[data-ticker]").data("ticker");
        let bourse = $("[data-ticker]").data("bourse");
        let country = $("[data-ticker]").data("country");
        let values;
        let labels = [];
        let prices = [];

        $.ajax({
            url: '/api/stock-trading/' + country + '/' + bourse + '/' + ticker,
            dataType: 'json',
            success: function(stock_data) {
                console.log(stock_data);

                let labels = [];
                let prices = [];

                // Chart
                var x
                for (x of stock_data) {
                    labels.unshift(x['date']);
                    prices.unshift(x['closing_price']);
                    console.log(x['date']);
                    console.log(x['closing_price']);
                }
                const data = {
                    labels: labels,
                    datasets: [{
                        label: 'Stock Price History',
                        backgroundColor: 'rgb(255, 99, 132)',
                        borderColor: 'rgb(255, 99, 132)',
                        data: prices,
                    }]
                };
                // </block:setup>

                // <block:config:0>
                const config = {
                    type: 'line',
                    data,
                    options: {}
                };
                // </block:config>

                // module.exports = {
                //     actions: [],
                //     config: config,
                // };

                var myChart = new Chart(
                    document.getElementById('myChart'),
                    config
                );
            }
        });


    });
</script>
{% endblock custom_scripts %}