{% extends "base.html" %} {% load humanize %} {% load custom_humanize %} {% block title %}

<div class="title">
    <div class="overlay mt-5 p-3">
        <h1 data-country="{{company.securities_exchange.country.slug}}" data-bourse="{{company.securities_exchange.slug}}" data-ticker="{{company.ticker_symbol}}">{{company.name}}</h1>
    </div>
</div>
{% endblock title %} {% block content %}
<!-- <div class="container text-center pt-5">
    <h1 class="mt-5" data-country="{{company.securities_exchange.country.slug}}" data-bourse="{{company.securities_exchange.slug}}" data-ticker="{{company.ticker_symbol}}">{{company.name}}</h1>
</div> -->
<div class="row justify-content-center py-4 text-center mb-4">
    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2 mb-4">
        <div class="card border-0 shadow company-metrics-card">
            <div class="card-body" data-price>
                <p class="card-text">Price</p>
                <span class="card-text fs-6">Kes</span>
                <span class="card-text fs-4">{{company.latest_price}}</span>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2 mb-4">
        <div class="card border-0 shadow company-metrics-card">
            <div class="card-body" data-price>
                <p class="card-text">Change</p>
                <span class="card-text fs-4">{{company.price_change.0}}</span>
                <span class="card-text fs-4">({{company.price_change.1}}&#37;)</span>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2 mb-4">
        <div class="card border-0 shadow company-metrics-card">
            <div class="card-body" data-market-cap>
                <p class="card-text">Market Cap</p>
                <span class="card-text fs-6">Kes</span>
                <span class="card-text fs-4">{{company.market_cap | shortintword}}</span>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2 mb-4">
        <div class="card border-0 shadow company-metrics-card">
            <div class="card-body">
                <p class="card-text">Volume</p>
                <span class="card-text fs-4">{{company.latest_trading_volume |  shortintword | intcomma}}</span>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2 mb-4">
        <div class="card border-0 shadow company-metrics-card">
            <div class="card-body">
                <p class="card-text">Day Range</p>
                <span class="card-text fs-4">{{company.day_range.0}} - {{company.day_range.1}}</span>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2 mb-4">
        <div class="card border-0 shadow company-metrics-card">
            <div class="card-body">
                <p class="card-text">52 Week Range</p>
                <span class="card-text fs-4">{{company.year_range.0}} - {{company.year_range.1}}</span>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center mx-1 mb-3">
    <div class="col-xs-12 col-md-8">
        
    </div>
    <div class="col-xs-12 col-md-10 price-graph p-5 shadow-lg">
        <div class="d-flex justify-content-between flex-wrap mb-3">
            <button id="plot-1-month" type="button" class="plot-period btn btn-outline-secondary m-2">1 Month</button>
            <button id="plot-3-months" type="button" class="plot-period btn btn-outline-secondary m-2">3 Months</button>
            <button id="plot-6-months" type="button" class="plot-period btn btn-outline-secondary m-2">6 Months</button>
            <button id="plot-12-months" type="button" class="plot-period btn btn-outline-secondary m-2">1 year</button>
            <button id="plot-5-years" type="button" class="plot-period btn btn-outline-secondary m-2">5 years</button>
            <button id="plot-all" type="button" class="plot-period btn btn-outline-secondary m-2">All time</button>
        </div>
        <div id="stock-price-div">
            <canvas id="stock-price-chart" width="800" height="400"></canvas>
        </div>
    </div>
</div>
<div class="row justify-content-center my-5">
    <div class="col-xs-12 col-sm-6 col-md-4 company-annual-metrics shadow">
        <table class="table table-borderless">
            <tbody>
                <tr>
                    <td>Earning per Share</td>
                    <td>--</td>
                </tr>
                <tr>
                    <td>Outstanding Shares</td>
                    <td>--</td>
                </tr>
                <tr>
                    <td>Price Earning Ratio</td>
                    <td>--</td>
                </tr>
                <tr>
                    <td>Dividend</td>
                    <td>--</td>
                </tr>
                <tr>
                    <td>Dividend Yield</td>
                    <td>--</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock content %} {% block custom_scripts %}
<script>
    function plotChart(plot_period) {
        let ticker = $("[data-ticker]").data("ticker");
        let bourse = $("[data-ticker]").data("bourse");
        let country = $("[data-ticker]").data("country");
        let period = plot_period;
        let values;
        let labels = [];
        let prices = [];

        $.ajax({
            url: '/api/stock-trading/' + country + '/' + bourse + '/' + ticker + '/' + period,
            dataType: 'json',
            success: function(stock_data) {
2
                let labels = [];
                let prices = [];

                // Chart
                var x
                for (x of stock_data) {
                    labels.unshift(x['date']);
                    prices.unshift(x['closing_price']);
                }
                const data = {
                    labels: labels,
                    datasets: [{
                        label: 'Stock Price History',
                        fill: true,
                        backgroundColor: 'rgb(227, 242, 253)',
                        pointRadius: 0,
                        borderWidth: 1,
                        borderColor: 'rgb(75, 192, 192)',
                        tension: 0.3,
                        data: prices,
                    }]
                };
                // </block:setup>

                // <block:config:0>
                const config = {
                    type: 'line',
                    data,
                    options: {}
                };
                // </block:config>

                $("#stock-price-chart").remove();
                $("#stock-price-div").append('<canvas id="stock-price-chart" width="800" height="400"></canvas>');
                
                let stock_chart_canvas = document.getElementById("stock-price-chart").getContext("2d");
                var stock_chart = new Chart(
                    stock_chart_canvas,
                    config
                );


            }
        }); //close ajax call

    } //close plotChart

    $(document).ready(
        plotChart("one-month")
    );

    /* plot the chart depending on selected period*/
    $(".plot-period").click(function(){
        plotChart($(this).attr("id"));
    });
</script>
{% endblock custom_scripts %}