{% extends 'base.html' %} {% block custom_styles %}
<style>
    section {
        height: 50vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .typing-demo {
        width: 58ch;
        animation: typing 10s steps(58), blink .3s step-end infinite alternate;
        white-space: nowrap;
        overflow: hidden;
        border-right: 3px solid;
        font-family: monospace;
        font-size: 2em;
    }
    
    @keyframes typing {
        from {
            width: 0
        }
    }
    
    @keyframes blink {
        50% {
            border-color: transparent
        }
    }
    
    .bg-dark {
        margin-left: -.75rem;
        margin-right: -.75rem;
    }
</style>
{% endblock custom_styles %} {% block content %}
<section>
    <div class="row headline">
        <div class="typing-demo">
            This is Africa, and African securities is our business...
        </div>
    </div>
</section>
<section class="bg-dark text-white">
    <div class="row  justify-content-center">
        <div class="col-md-8">
            <p class="text-center fs-3">
                This site is for the African investor or investor interested in African securities. We are always work in progress - not cliche. We build as we go! It might not be here today but will be tomorrow. Wanted something you didn't find? The contact form is
                also a suggestion box. Let us know. How nice, right?
            </p>
        </div>
    </div>
</section>
<section>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <p class="text-center fs-3">
                You can find todays data easily but not last months. While this data is available freely an publicly, most exchanges and providers don't avail it freely - the irony. How about we look for all historical data and going forward, collect the data daily and
                make it available for posterity.
            </p>
        </div>
    </div>
</section>
<section class="bg-dark text-white">
    <div class="row  justify-content-center">
        <div class="col-md-8">
            <p class="text-center fs-3">
                We love feedback. To make it easy for you to let us know your thoughts, we have a very easy form.
            </p>
        </div>
    </div>
</section>
<section>
    <p class="text-center fs-3">
        Enough banter, let's get down to work!
    </p>
    </div>
    </div>
</section>
{% endblock content %}